<h2>Clearance Batches</h2>

<div class="container">
  <p>
    To create a new clearance batch you may either
    <%= link_to 'upload a CSV file', new_clearance_batch_path %>
    or create a batch by
    <%= link_to 'scanning item barcodes', new_clearance_batch_path %>.
  </p>
</div>

<table class="table table-striped clearance_batches voffset3">
  <thead>
    <tr>
      <th></th>
      <th>Date clearanced</th>
      <th>Number of items clearanced</th>
    </tr>
  </thead>
  <tbody>
    <%- @clearance_batches.each do |clearance_batch| -%>
      <tr>
        <td><%= link_to "Clearance Batch #{clearance_batch.id}", clearance_batch %></td>
        <td><%= l(clearance_batch.created_at, format: :short) %></td>
        <td><%= clearance_batch.items.count %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
